@tailwind base;
@tailwind components;
@tailwind utilities;

@import "libraries/nprogress";
@import '~@wordpress/block-library/build-style/style.css';

h1 {
  font-size: 2.5em;
  
  /* Alte stilizări pentru h1 */
}

h2 {
  font-size: 2em;
 
  /* Alte stilizări pentru h2 */
}

h3 {
  font-size: 1.8em;
  
  /* Alte stilizări pentru h3 */
}

h4 {
  font-size: 1.5em;
  
  /* Alte stilizări pentru h4 */
}

h5 {
  font-size: 1.2em;
 
  /* Alte stilizări pentru h5 */
}

h6 {
  font-size: 1em;
  
  /* Alte stilizări pentru h6 */
}

/* Stil pentru paragrafe (p) */
p {
  font-size: 16px; /* Dimensiunea textului */
  line-height: 1.5; /* Înălțimea liniei */
  margin-bottom: 10px; /* Spațiul de dedesubtul paragrafului */
}

/* Stil pentru paragrafe de dimensiuni diferite */
p.paragraf-mic {
  font-size: 14px;
}

p.paragraf-mare {
  font-size: 18px;
}

body {
  font-family: 'Arial', sans-serif; /* Familie de fonturi */
  font-size: 16px; /* Dimensiunea textului implicită */
  line-height: 1.6; /* Înălțimea liniei */
  color: #333; /* Culoarea textului */
  background-color: #fff; /* Culoarea fundalului */
  margin: 0; /* Elimină marginile implicite ale body-ului */
  padding: 0; /* Elimină padding-ul implicite ale body-ului */
}
/* Alte stiluri pentru paragrafe pot fi adăugate după necesități */

body{
  margin: 0;
}

.social-link svg{
  width: 24px;
}
.top-navbar svg{
  width: 16px;
  fill:#fff6c9;
}

.header {
  z-index: 999;
}

.HeaderNav {
  width: 100%;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.nav__submenu{
  display: none;
  border-top: 3px solid #fac482;
}

.nav__menu-item:hover .nav__submenu {
  display: block;
}

.wp-block-cover__inner-container.is-layout-flow.wp-block-cover-is-layout-flow p {
  font-size: 48px;
}

.wp-block-image.aligncenter {
  text-align: center;
  width: 100%;
}

.wp-block-image img{
  display:inline-block;
}

ul.list-wp {
  list-style: disc;
  margin-left: 40px;
}

blockquote {
  font-style: italic; /* Stil italic pentru citate */
  border-left: 2px solid #333; /* Linie verticală la stânga cu o grosime de 2px și culoarea #333 (poate fi schimbată) */
  padding-left: 10px; /* Spațiere la stânga pentru a evidenția textul citat */
  margin: 10px 0; /* Margini între blocurile de citate */
}

.wp-block-pullquote {
  font-style: italic;
  border-left: 2px solid #333;
  padding-left: 20px;
  margin: 20px 0;
  /* Alte proprietăți CSS pentru Pullquote... */
}
.wp-block-image{
  img{
    width: 10px;
  }
}

img.logo {
  height: 65px;
}
.top-navbar p {
  margin-bottom: 0;
}

// .swiper {
//   width: 100%;
//   height: 100%;
// }

// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;

//   /* Center slide text vertically */
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }
